.cabecalho-caixa {
    background-color: #B7A7F2;
    border: solid 1px #262526;
    border-radius: 8px;
    margin: 30px 40px;
}

.navbar a {
    text-decoration: none;
    color: #262526;
    font-weight: 700;
    transition: all 0.2s;
}

.navbar a:hover {
    color: #E7E4F2;
}

.nav-caixa Button {
    font-weight: 700;
    padding: 6px 8px;
    border: solid 1px #262526;
    border-radius: 5px;
    background-color: #CCD96A;
    cursor: pointer;
    transition: all 0.2s;
    color: #262526;
}

.nav-caixa Button:hover {
    background-color: #7b66c8;
    border: solid 1px #262526;
}