.card-caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.card-caixa:hover {
    box-shadow: 3px 3px 10px 0px #B4BF60;
}

.card-body-titulo {
    text-align: center;
}

.card-body-texto {
    width: 220px;
    text-align: justify;
    font-size: 14px;
}

.card-caixa button {
    font-weight: bold;
    padding: 8px;
    width: 220px;
    border: solid 1px #262526;
    background-color: #CCD96A;
    cursor: pointer;
    transition: all 0.2s;
}

.card-caixa button:hover {
    color: #E7E4F2;
    background-color: #7b66c8;
    border: solid 1px #262526;
    box-shadow: 1px 1px 6px 0px #7b66c8;
}


