.texto-rodape {
    color: #262526;
    font-size: 14px;
}


.caixa-rodape {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #B7A7F2;
    border-top: solid 1px #262526;
}